//@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;700;900&display=swap');

/*
$darkred: #330100;
$hotred: saturate(lighten(@darkred, 10%), 50%);
$darkgray: #222;
$goldbase: #b37d43;
$goldframe: 2px ridge @goldbase;
*/

$bg-color: #222;
$text-color: #fff2c1;
$goldbase: #b37d43;
$subtle-color: mix($text-color, $bg-color, $weight: 50%);
$accent-color: #ff3333;
$active-color: saturate(lighten($accent-color, 50%), 100%);
$subtle-accent: darken($accent-color, 25%);
@mixin goldframe { 
	border: 2px ridge $goldbase;
}
body {
	background-color: $bg-color;
	color: $text-color;
	font-family: Times, serif;
	font-weight: 300;
	font-size: 16pt;
	text-shadow: 0 2px 0 black;
}
.contained {
	display: block;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}
a {
	text-decoration: none;
	color: $text-color;
	// border-bottom: thin dotted $subtle-color;
	&:hover {
		color: $accent-color;
	}
	&:active {
		color: $active-color;
		text-shadow: 0 0 3px $accent-color;
	}
}
img {
	max-width: 100%;
}
.whiteback img {
	background-color: white;
}
video {
	width: 100%;
	height: auto;
	object-fit: fill;
}
article.single a[href]:not(.footnote-backref):not(.hashtag):not(.author):not(.artist)  {
	// border-bottom: thin solid $subtle-color;
	// background-color: transparentize($accent-color, .9);
	color: $accent-color;
	&:hover {
		color: white;
		background-color:transparent;
	}
}
:target {
	padding-top: 5em;
	margin-top: -5em;
}
header {
	position: fixed;
	top: 0;
	z-index: 100;
	nav {
		font-family: 'Cinzel', Times, serif;
		width: 100vw;
		max-width: 100vw;
		background-color: #000;
		background-color: #000c;
		&:hover {
			background-color: darken($bg-color, 20%);
		}
		> ul.flexbox {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin:0 auto;
			> li {
				//flex: 1;
				flex-grow:1;
				text-align: center;
				a {
					display: block;
					padding: 1em 0;
					//border: thin solid;
					&:hover {
						text-shadow: 0 0 10px $accent-color;
					}
				}
			}
		}
	}
}
div.hero2 {
	//position: absolute;
	//background-attachment: fixed;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100vw;
	max-width: 100vw;
	height: 16em;
	z-index: -10;
}
img.hero{
	padding-top: 5em;
}
#content > *:first-child{
	margin-top: 2em;
}
// #content > article:first-child {
// 	margin-top: 16em;
// }

header {
	border-bottom: thin solid $text-color;
}
footer {
	border-top: thin solid $text-color;
}

.hashtag {
	/*display: inline-block;
	border: thin solid;
	color: black;
	background-color: $subtle-color;
	border-radius: 3px;
	padding: 2px;*/
	&:before {
		content: "#";
	}
}
.inline, .hashtags, .socials {
	margin-left: 0;
	padding-left: 0;
	li {
		display: inline-block;
	}
}
.centered {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.subtle, .footnotes {
	color: $subtle-color;
	a {
		color: $subtle-color;
		&:hover {
			color: $accent-color;
		}
		&:active {
			color: $active-color;
		}
	}
}
.footnotes {
	font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel Decorative', Times, serif;
	//text-transform: uppercase;
	background-size: 1em;
	line-height: 1;
	background-image: repeating-linear-gradient(
		0deg,
		lighten($text-color, 50%) 0em,
		lighten($text-color, 10%) .2em,
		desaturate(darken($text-color, 20%), 30%) .6em,
		lighten($text-color, 20%) .41em,
		$text-color 1em,
		);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 2px 0 #0001;
}
hr {
	color: $text-color;
	border-color: $text-color;
	border: none;
	border-top: 1px solid;
}
table {
	max-width: 100%;
	margin: 1em auto;
}
mark, ::selection {
	background-color: $accent-color;
	color: $bg-color;
}
mark a {
	color: $bg-color;
	&:hover {
		color: $active-color;
	}
}

footer {
	margin-top: 2em;
	.flexbox {
		display: flex;
		justify-content: space-evenly;
		> div {
			// flex: 1;
			flex-shrink: 3;
		}
	}
	.copyright {
		font-size: 1rem;
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
	h2 {
		text-align: center;
	}
}
.pagination {
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	li {
		a {
			padding: .5rem;
		}
	}
}
em {
	font-style: italic;
}
strong {
	font-weight: 700;
}
code {
	font-family: "Roboto Mono", monospace;
}
pre {
	max-width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	// overflow-y: scroll;
	overflow-x: scroll;
	background-color: #0003;
	padding: 1em;
}

p code {
	background-color: #0003;
	padding: 0 .3em;
}

blockquote {
	border-left: 3px solid;
	padding-left: 1em;
	font-style: italic;
	color: $accent-color;
}
table {
	max-width: 100%;
	td {
		padding: 3px;
	}
	tr:nth-child(even),
	thead {
		background-color: #fff2;
	}
}

.Joe.Bush {
	.cards {
		> :first-Child {
			flex-basis: 100%;
		}
	}
}

#disqus_thread {
	color: $text-color;
}
.iframe {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border: 0;
	}
}

.single .subtle.flexbox {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	> span {
		flex-basis:200px;
		flex-grow: 1;
		flex-shrink: 1;
		display: block;
		text-align: center;
		a:after {
			content: ",";
		}
		a:last-child:after {
			content: "";
		}
	}
}

.meta-info {
	text-align: right;
	&> span {
		display: block;
	}
}

////////////////////////////////////////////////
////////////////////////////////////////////////
.flexbox {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	a.card {
		display: block;
		//margin: 1em;
		// width: 33.3333%;
	}
}

.card {
	// border: thin solid;
	border-radius: .2em;
	margin: 1rem;
	box-shadow: 0 0 .3em #0004;
	background-color: lighten($bg-color, 5%);
	flex-basis: 30%;
	flex-grow: 1;
	flex-shrink: 1;
	transition: all .3s;
	position: relative;
	z-index: 0;
	overflow: hidden;
	article > *:not(img):not(div) {
		margin: 1rem;
	}
	img {
		width: 100%;
		border-radius: .2em .2em 0 0;
		display: block;
		// max-height: 5em;
	}
	.info {
		padding: 1em;
	}
	div2 {
		width: 100%;
		border-radius: .2em .2em 0 0;
		min-height: 7rem;
		height: 33%;
		//position: absolute;
		background-position-x: center;
		background-position-y: center;
		//background-attachment: fixed;
		background-repeat: no-repeat; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	&:hover {
		transform: scale(1.1);
		box-shadow: 0 0 .3em $accent-color;
		color: $text-color;
	}
}
.card {
	flex-basis: 10em;
	background-color: black;
	place-self: center;
	transition: all .3s;
	.info {
		display: none;
		//word-break: break-all;
		width: 100%;
		height: 100%;
		font-size: 10pt;
		transition: all .3s;
/*			* {
			margin-top: 0;
			margin-bottom: 0;
		}*/
		blockquote {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
	&:hover {
		.info {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: #000c;
		}
	}
}

.Posts .card {

}

.authors .card.authors:not(:hover),
.artists .card.artists:not(:hover),
.Posts .card:not(:hover)
 {
	.info {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: auto;
		background: linear-gradient(#0000 0%, #0009 50%, #000d 100%);
		h2 {
			margin-bottom: 0;
		}
		p {
			display: none;
		}
	}
}

.cards {
	position: relative;
	max-width: 100%;
	pre {
		display: none;
	}
}
.featured {
	border: 1px solid;
	flex-basis: 20em;
	position: relative;
	&:after {
		position: absolute;
		background: url("/images/featured.png");
		background-size: 100%;
		top: 0px;
		right: 0px;
		content: " ";
		display: block;
		width: 100px;
		height: 100px;
	}
	&:hover:after {
		display: none;
	}
}
.out-of-print:not(:hover) {
	&:after {
		position: absolute;
		content: " ";
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: transparentize($bg-color, .5);
	}
}
.flexbox {
	align-items: flex-start;
}

.Tags, .smallcards {
	.card {
		font-size: 1rem;
		flex-basis: 20%;
		margin: .5rem;
		h2, p {
			margin-top: .5rem;
			margin-bottom: .5rem;
		}
	}
}
.fillwide{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	box-sizing: border-box;
	* {
		box-sizing: border-box;
	}

}

.fillwide {
	.grid {
		display: block;
		width: 100vw;
		grid-template-columns: 25% 25% 25% 25%;
		text-align: center;
		.card {
			display: inline-block;
			width: 25%;
		}
	}
}

a.post,
a.page:not(.product)  {
	border-radius: .2em;
	display: block;
	margin: 1em 0;
	background-color: lighten($bg-color, 5%);
	overflow: hidden;
	transition: all .3s;
	h2 {
		margin-top: 0;
	}
	img {
		float: right;
		max-width: 33%;
		height: auto;
		margin: 0 0 1em 1em;
	}
	.info {
		padding: 1em;
	}
	&:hover {
		transform: scale(1.1);
		box-shadow: 0 0 .3em $accent-color;
		color: $text-color;
	}
} 

a.card.post,
a.card.page:not(.product) {
	img {
		max-width: 100%;
	}
	.info {
		display: block;
		height: auto;
		position: initial;
	}
	p {
		display: block;
	}
	&:not(:hover) {
		.info {
			display: block;
			height: auto;
			background: linear-gradient(#0000 0%, #0009 50%, #000d 100%);
			h2 {
				margin-bottom: 0;
			}
			p {
				display: none;
			}
		}
	}
}

///////////////////////////////////////////
///////////////////////////////////////////

nav {
	&.inline {
		display: inline-block;
	}
	.active {
		color: $accent-color;
	}
}
nav > ul > li {
	//position: relative;
	.sub-menu {
		//position: relative;
		display: none;
		> li {
			display: block;
		}
	}
	&:hover .sub-menu{
		display: block;
	}
}


////////////////////////////////////////////////
////////////////////////////////////////////////


@media (max-width: 360px){
	header > nav#overlay > ul.flexbox {
		font-size: 1.2em;
		display: block;
		overflow-y: scroll;
		&> li[class=""] {
			border: thin solid;
			margin: 0 1em;
		}
		* {
			display: block;
		}

	}
	body {
		animation: bugfix infinite 1s;
		-webkit-animation: bugfix infinite 1s;
		font-size: 1.5em;
	}
	@keyframes bugfix { from {padding:0;} to {padding:0;}}
	@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

	#overlay-button {
	  position: absolute;
	  right: 0;
	  top: 0;
	  margin-left: 0;
	  width: 100%;
	  height: 2em;
	  z-index: 5;
	  padding: 1em 1em 0 0 ;
	  cursor: pointer;
	  user-select: none;
	  a {
	  	margin-left: 2em;
	  	color: $accent-color;
	  }
	  span {
	      height: 4px;
	      width: 35px;
	      border-radius: 2px;
	      background: $accent-color;
	      position: relative;
	      top: .4em;
	      float: right;
	      display: block;
	      transition: all .2s ease-in-out;
	      &:before {
	        top: -10px;
	        visibility: visible;
	      }
	      &:after {
	        top: 10px;
	      }
	      &:before, &:after {
	          height: 4px;
	          width: 35px;
	          border-radius: 2px;
	          background-color: $accent-color;
	          position: absolute;
	          content: "";
	          transition: all .2s ease-in-out;
	      }
	    }
	    &:hover span, &:hover span:before, &:hover span:after {
	      background: $accent-color;
	    }
	}

	input[type=checkbox] {
	  display: none;
	}

	input[type=checkbox]:checked ~ #overlay {
	  visibility: visible;
	}

	input[type=checkbox]:checked ~ #overlay-button {
	  &:hover span, span{
	    background: transparent;
	  }
	  span {
	    &:before {
	      transform: rotate(45deg) translate(7px, 7px);
	      opacity: 1;
	    }
	    &:after {
	      transform: rotate(-45deg) translate(7px, -7px);
	    }
	  }
	}

	#overlay {
	  height: 100vh;
	  width: 100vw;
	  top: 0;
	  left: 0;
	  padding-top: 3em;
	  padding-bottom: 2em;
	  z-index: -1;
	  visibility: hidden;
	  position: fixed;
	  background-color: #000000f0;
	  &.active {
	    visibility: visible;
	  }
	  ul {
	    display: flex;
	    justify-content: center;
	    align-items: stretch;
	    flex-direction: column;
	    text-align: center;
	    height: 80%;
	    padding-left: 0;
	    padding-right: 0;
	    list-style-type: none;
	  }
	}
	header {
		width: 100vw;
		display: block;
		height: 3em;
		background-color: #000c;
		nav:hover {
			background-color: inherit;
		}
	}
	.flexbox {
	a.card {
		width: auto;
		flex-basis: 90%;
		}
	}
	footer .flexbox {  
		display: block;
		margin-left: auto;
		margin-right: auto;
		div {
			//display: inline-block;
		}
	}
	.socials i {
		font-size: 2em;
		padding: .25em;
	}
}
@media (min-width: 361px) {
	body {
		#overlay {
			visibility: visible;
		}
		#overlay-input {
			display: none;
		}
		#overlay-button {
			display: none;
		}
		.threeup {
			width: 100%;
		}
		.threeup p {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			width: 100%;
			img {
				width: 30%;
				flex-basis: auto;
				flex-grow: 1;
				flex-shrink: 1;
			}
			&.whiteback {
				background-color: white;
			}
		}
		&.authors, &.artists {
			
			img.hero {
				padding-top: 0px;
				margin: 0 0 1em 1em;
				display: block;
				float: right;
				width: 30%;
			}
		}
	}
}

@media (min-width: 1000px){
	body { 
		.cards .card .info {
			font-size: inherit;
		}
	}
	
}