{{ define "main" }}
{{ partial "hero.html" . }}
<div id="content" class="contained centered">
	<h1>{{.Title}}</h1>
	<section>
		{{ .Content }}
	</section>
</div>
<section class="contained">
	{{ range .Paginator.Pages }}
		{{ partial "post.html" . }}
	{{ end }}
</section>
{{ template "_internal/pagination.html" . }}
{{ end }}