<aside>
    <ul>
    <li><a href="{{ .Site.BaseURL }}">Home</a></p>
    <li><a href="{{ "products/" | absURL }}">Produtcts</a></p>
    <li><a href="{{ "posts/" | absURL }}">Posts</a></p>
    </ul>
</aside>