<span>
  {{ with .Params.authors}}
  <i class="fas fa-keyboard"></i>
  {{ end }}
{{- range .Params.authors }}
  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}

 	<a href="{{ .RelPermalink }}" class="author">{{ .Title }}</a>

   <!--<figure>
      <img src="{{ .Params.photo }}" alt=""/>
      <figcaption>
        <a href="{{ .Permalink }}">{{ .Params.name }}</a>
      </figcaption>
    </figure>-->
  {{ end }}
{{ end }}

{{ with .Params.artists }}
<i class="fas fa-paint-brush"></i>
{{ end }}
{{- range .Params.artists }}
  {{- with $.Site.GetPage "taxonomyTerm" (printf "artists/%s" (urlize .)) }}

 	<a href="{{ .RelPermalink }}" class="artist">{{ .Title }}</a>

   <!--<figure>
      <img src="{{ .Params.photo }}" alt=""/>
      <figcaption>
        <a href="{{ .Permalink }}">{{ .Params.name }}</a>
      </figcaption>
    </figure>-->
  {{ end }}
{{ end }}
</span>