{{ $tags := "" }}
{{ with .Params.tags }}
	{{ $tags = delimit . " " }}
{{ end }}
<a class="card {{.Kind}} {{.Type}} {{$tags}}" href="{{ .RelPermalink }}">
	<article>
		{{ with .Params.featured_image }}
			<img src="{{ . | relURL }}" >

		{{ else }}
			{{ if or (eq .Type "authors") (eq .Type "artists")}}
				<img src="/images/avatars/marauders.jpg" >

			{{else}}
				<img src="/images/fragment.jpg" >
			{{end}}
		{{end}}
		<div class="info">
			<h2>
				{{ .Title }}		
			</h2>
			{{ partial "countoftags.html" . }}
			{{ with .Params.tags }}
				<ul class="hashtags subtle">
					{{ range . }}
					<li>
						#{{ . }}
					</li>
					{{ end }}
				</ul>
			{{end}}
			<p>{{ .Summary }}</p>
		</div>
	</article>
</a>