<h2>Tags</h2>
<ul>
	<li>
		<a href="/tags/">All Tags</a> ({{ len .Site.Taxonomies.tags }})
	</li>
	{{ range first 7 .Site.Taxonomies.tags.ByCount }}
		<li><a href="/tags/{{ .Term | urlize  }}">#{{ .Term }}</a> ({{ .Count }})</li>
	{{ end }}
</ul>