<footer class="subtle">
	<div class="flexbox">
		<div>
			{{ partial "footertags.html" . }}
		</div>
		<div>
			<h2>Pages</h2>
			<ul>
				{{ range where .Site.RegularPages "Section" "page" }}
					<li>
						<a href="{{ relref . .Title }}">{{ .Title }}</a>
					</li>
				{{end}}
				<li><a href="/authors/">Authors</a></li>
				<li><a href="/artists/">Artists</a></li>
			</ul>
		</div>
		<div>
			<h2>Social</h2>
			<ul>
				{{ range .Site.Params.social}}
					<li>
						<a href="{{ .url }}" target="_blank"><i class="fab fa-{{ .identifier }}"></i>&nbsp;{{ .identifier}}</a>
					</li>
				{{end}}
			</ul>
		</div>
	</div>
	<div class="centered copyright">
		&copy; {{ .Site.Copyright }} 2008 - {{ now.Year }}
	</div>
	<!-- Scripts -->
	<script src="/js/sorttable.js"></script>
</footer>