<!DOCTYPE html>
<html>
<head>
	{{ template "_internal/google_analytics.html" . }}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ $words := .Site.Params.Keywords }}
	{{ $keywords := delimit $words ", " }}
	<meta name="keywords" content="{{ $keywords }}">
	<meta name="description" content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{.Summary}}{{end}}" />
	<title>Voidspiral Entertainment - {{.Title}}</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
	{{ $styles := resources.Get "scss/main.scss" | toCSS | postCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen" type="text/css">
	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/704d78ea45d567562b06f88ba/8c13de33b02e8ebed3d832984.js");</script>

</head>
<body>