{{ if .Params.hidehero }}

{{ else }}
	{{ if isset .Params "featured_image" }}
		{{ if eq .Section "authors" }}
			<img src="{{ .Params.featured_image | relURL }}" class="hero">
		{{ else }}
			<div class="contained centered">
				<img src="{{ .Params.featured_image | relURL }}" class="hero">
			</div>
		{{ end }}
	{{ else if isset .Site.Params "featured_image" }}
		<br>
		<br>
		<br>
	{{end}}
{{end}}