
<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><a>{{ .Site.Title }}</a><span></span></label>
<nav id="overlay" class="inline">
	<ul class="inline contained flexbox">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
			{{ if .HasChildren }}
				<li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
					<a href="#">
						<!-- {{ .Pre }} -->
						<span>{{ .Name }}</span>
					</a>
					<ul class="sub-menu">
						{{ range .Children }}
							<li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
								<a href="{{ .URL }}">{{ .Name }}</a>
							</li>
						{{ end }}
					</ul>
				</li>
			{{ else }}
				<li>
					<a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
						<!-- {{ .Pre }} -->
						<span>{{ .Name }}</span>
					</a>
				</li>
			{{ end }}
		{{ end }}
	</ul>
</nav>
