{{ $featured := "" }}
{{ if .Params.featured }}
	{{ $featured = "featured"}}
{{ end }}
<a class="post {{$featured}} {{.Kind}} {{.Type}}" href="{{ .RelPermalink }}">
	<article>
		{{ with .Params.featured_image }}
			<img src="{{ . | relURL }}" >
		{{ else }}
			<!--<img src="/images/fragment.jpg" >-->
		{{end}}
		<div class="info">
			<h2>
				{{ .Title }}		
			</h2>
			{{ partial "countoftags.html" . }}
			{{ with .Params.tags }}
				<ul class="hashtags subtle">
					{{ range . }}
					<li>
						#{{ . }}
					</li>
					{{ end }}
				</ul>
			{{end}}
			<p>{{ .Summary }}</p>
		</div>
	</article>
</a>