section, nav, main, header, footer, article {
    background-color: #00000011;
    border: thin black solid;
    padding: 1em;
}
nav {
    background-color: #ff01;
}
header {
    background-color: #0f01;
}
content {
    background-color: #00f1;
}
footer {
    background-color: #f001;
}
.frontpage {
	&.imgbg {
		background: no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		min-height: 6em;
		&.featured {
			height: 10em;
		}
	}
}

body {
	background-color: #333;
	color: #ccc;
}

a.card {
	display: block;
}
a[href] {
	color: #ccc;
	text-decoration: none;
	&:hover {
		color: #ffff99;
		background-color: #fff2;
	}
}
.cards {
	display: flex;
	flex-direction: row;

	a {
		flex: 1;
		margin: 1em;
	}
}