{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main>
<section>
    <header>
        products/list
    <h1>{{.Title}}</h1>
    </header>
    <section>
    	404 page not found
    </section>
</section>

{{ partial "aside.html" .}}

</main>

{{ partial "foot.html" .}}