{{ partial "head.html" . }}

<section>
	<!-- this section is populated from content/_index.md -->
	<h1>{{.Title}}</h1>
	<p>{{.Params.description}}</p>
	{{ partial "nav.html" . }}
</section>

<main>
	<section>
		<!-- the featured section -->
		{{ range first 1 (where .Site.Pages.ByPublishDate.Reverse "Params.featured" true) }}
		<a href="{{ .RelPermalink }}" class="card">
			<article>
				{{if .Params.image}}
		    		<div class="frontpage featured imgbg" style="background-image: url({{.Params.image | absURL}})"></div>
		    	{{end}}
				<h2>Featured Product: {{ .Title }}</h2>
				{{ .Summary }}
			</article>
		</a>
		{{ end }}
	</section>
<section class="cards">
	<!-- this section is populated by pulling posts from the site -->
	{{ range where (where .Site.Pages.ByPublishDate.Reverse "Section" "product") ".Params.featured" "!=" true }}
		<a href="{{ .RelPermalink }}" class="card">
			<article>
				<div>
					{{if .Params.image}}
			    		<div class="frontpage imgbg" style="background-image: url({{.Params.image | absURL}})"></div>
			    	{{end}}
				<h2>{{ .Title }}</h2>
				</div>
				<div>
					{{ .Summary }}
				</div>
			</article>
		</a>
	{{ end }}
</section>
</main>

{{ partial "foot.html" .}}