<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="{{ .Title }} {{ .Section }} {{.Kind}}">
        <div>
        	{{- partial "header.html" . -}}
    	</div>
        
        {{- block "main" . }}{{- end }}
        
        <div class="contained">
        	{{- partial "footer.html" . -}}
    	</div>
    </body>
</html>

