{{ define "main" }}
{{ partial "hero.html" . }}
<div id="content" class="contained">
    <section class="centered">
    	<h1>{{ .Title }}</h1>
    	{{ .Content }}
    </section>
</div>
    <section class="fillwide">
        <div class="grid cards">
            {{ range where site.RegularPages ".Params.featured" "==" true}}
                {{ partial "card.html" . }}
            {{ end }}
        </div>
    </section>
    <hr>
    <section class="fillwide">
    	<div class="grid cards">
        {{$paginator := where site.RegularPages "Type" "in" site.Params.mainSections}}
		{{ range (.Paginate ($paginator) ).Pages }}
			{{ partial "card.html" . }}
		{{ end }}
		</div>
        {{ template "_internal/pagination.html" . }}

    </section>
    <section class="centered">
        <p><a href="/tags/">Or Browse by Tags</a></p>
    </section>
{{ end }}