{{ define "main" }}
{{ partial "hero.html" . }}
<div id="content" class="contained centered">
	<h1>{{.Title}}</h1>
	<section>
		{{ .Content }}
	</section>
</div>
<section class="fillwide">
	<div class="grid cards">
		{{ range .Paginator.Pages }}
			{{ partial "card.html" . }}
		{{ end }}
	</div>
</section>
{{ template "_internal/pagination.html" . }}
{{ end }}