{{ define "main" }}
{{ partial "hero.html" . }}
<div id="content" class="contained">
	<article class="single">
		<h1>{{ .Title }}</h1>
		<div class="subtle meta-info">
			{{ partial "authors.html" . }}
			
			{{ partial "hashtags.html" . }}
			
			<span>{{ .Date.Format "2006-01-02" }}</span>
		</div>
	  {{ .Content }}
	</article>
	<hr>
	<section>
		{{ partial "otherposts.html" . }}
	</section>
	<section>
		{{ template "_internal/disqus.html" . }}
	</section>
</div>
{{ end }}