{{ define "main" }}
{{ partial "hero.html" . }}
	<h1>{{.Title}}</h1>
	<section>
		{{ .Content }}
	</section>
	<section class="flexbox cards">
	{{ range .Paginator.Pages }}
		{{ partial "card.html" . }}
	{{ end }}
	</section>
	{{ template "_internal/pagination.html" . }}
{{ end }}