{{ define "main" }}
	{{ if (eq .Kind "taxonomyTerm") }}
		{{ partial "hero.html" . }}
		<div id="content" class="contained centered">
			<h1>{{.Title}}</h1>

			<section>
				{{ .Content }}
			</section>
		</div>
		<section class="contained">
			{{ range .Pages }}
				{{ partial "post.html" . }}
			{{ end }}
		</section>
	{{ else if (eq .Title "meta") }}
		{{ partial "hero.html" . }}
		<div id="content" class="contained centered">
			<h1>{{.Title}}</h1>
			<section>
				{{ .Content }}
			</section>
		</div>
		<section class="contained">
			{{ range .Paginator.Pages }}
				{{ partial "post.html" . }}
			{{ end }}
		</section>
		{{ template "_internal/pagination.html" . }}
	{{ else }}
		{{ partial "hero.html" . }}
		<div id="content" class="contained centered">
			<h1>{{.Title}}</h1>
			<section>
				{{ .Content }}
			</section>
			<hr>
		</div>
		<section class="fillwide">
			<div class="grid cards">
				{{ range .Paginator.Pages }}
					{{ partial "card.html" . }}
				{{ end }}
			</div>
		</section>
		{{ template "_internal/pagination.html" . }}
	{{ end}}
{{ end }}

