{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main>
<section>
    <header>
    <h1>{{.Title}}</h1>
    </header>
    product list
    <article>
    <ul>
        {{ range where .Pages.ByPublishDate.Reverse "Section" "products" }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }} - <time datetime="{{.Date}}">{{ .Date.Format "2006/01/02 15:04:05" }}</time></a></li>
        {{ end }}
    </ul>
    </article>
</section>

{{ partial "aside.html" .}}

</main>

{{ partial "foot.html" .}}