{{ define "main" }}
<div id="content" class="contained">
	<h1>
		{{ if ne .Title "Authors" }}
			Author: 
		{{end}}
		{{.Title}}
	</h1>
	<section>
		{{ partial "hero.html" . }}
		{{ .Content }}
	</section>
	<hr>
</div>
<section class="fillwide">
	<div class="grid cards">
		{{ range sort .Paginator.Pages ".Weight" }}
			{{ partial "card.html" . }}
		{{ end }}
	</div>
</section>
{{ template "_internal/pagination.html" . }}
{{ end }}