{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main>
<section>
    <article>
    {{.Content}}
    </article>

    <footer>
            <ul>
                {{ with .PrevInSection }}<li><a href="{{ .Permalink }}">&laquo; {{ .Title }}</a></li>{{ end }}
                {{ with .NextInSection }}<li><a href="{{ .Permalink }}">{{ .Title }} &raquo;</a></li>{{ end }}
            </ul>
    </footer>
</section>

{{ partial "aside.html"}}

</main>

{{ partial "foot.html" .}}